* {
    margin: 0;
    padding: 0;
    font-family: vazir, sans-serif, tahoma, arial, helvet;
}

body {
    background-color: #03141ff2;
}

.login {
    font-family: tahoma;
}

.modal-content {
    background: #863b694d;
    color: #fff;
    border-radius: 15px;
}

.logform {
    background: #0d10399c;
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    &:focus {
        background: #0d10399c;
        box-shadow: 0;
    }
}

.modal-header,
.modal-footer {
    border: 0;
}